---
import Header from "@/components/header.astro";
import Whatsapp from "@/components/whatsapp.astro";
import Footer from "@/components/footer.astro";
import { siteConfig } from "@/site";
import { ViewTransitions } from "astro:transitions";
import CustomStyles from "@/components/custom-styles.astro";

export interface LayoutProps {
  title: string;
}

const { title } = Astro.props as LayoutProps;
const { generator, site } = Astro;
const image = new URL("social.jpg", site);
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={generator} />
    <link rel="icon" href="/favicon.ico" type="image/svg+xml" />

    <title>{title}</title>
    <meta title={title} />
    <meta name="description" content={siteConfig.description} />

    <!-- Redes sociales -->
    <!-- Facebook Meta Tags -->
    <meta property="og:title" content="Frontera Andina" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={siteConfig.description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="fronteraandina.com.ar" />
    <meta property="twitter:url" content={site} />
    <meta name="twitter:title" content="Frontera Andina" />
    <meta name="twitter:description" content={siteConfig.description} />
    <meta name="twitter:image" content={image} />

    <title>{title}</title>

    <CustomStyles />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Whatsapp />
    <Footer />
  </body>
</html>
